/* Блок "О Budss" */
.about {
    width: 375px;
    top: 475px;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    position: relative;

}

.about__container {
    max-width: 375px;
    width: 100%;
    padding: 0 16px;

}

.about__title {
    box-sizing: border-box;
    width: 549px;
    height: 102px;
    padding: 0;
    align-content: start;
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    text-align: left;

}

.about__columns {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about__column {
    width: 30%;
    text-align: left;
}

.about__column--with-image {
    width: 286px;
    height: 87px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;

}

.about__column-title {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
}

.about__column-title--with-image {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    position: absolute;
    width: 278px;
    height: 87px;
    z-index: 2;
}

.about__column-title-image {
    position: absolute;
    width: 235px;
    height: 29px;
    z-index: 1;
    left: 57px;
    top: 134px;
}

.about__column-text {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

.about__column-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.about__feature {
    width: 321px;
    height: 200px;
    gap: 10px;

}

.about__feature--block1,
.about__feature--block2,
.about__feature--block3,
.about__feature--block4 {
    margin-bottom: 55px;

}


.about__feature--block1 {
    width: 321px;
    height: 200px;
    margin-top: 40px;
}

.about__feature--block2 {
    width: 301px;
    height: 214px;
}

.about__feature--block3 {
    width: 306px;
    height: 200px;
    margin-top: 0;
}

.about__feature--block4 {
    margin-top: 0;
    width: 336px;
    height: 240px;
}

.about__feature--block4 img {
    margin-bottom: 40px;

}

.about__feature-image {
    margin-bottom: 0;
}

.about__feature-title {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    text-align: left;
    width: 306px;

}

.about__feature-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.about {
    width: 100%;
    height: 708px;
    display: flex;
    margin-top: 50px;
}

.about__container {
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
}

.about__title {
    width: 229px;
    height: 42px;
    padding: 0;
    font-size: 40px;
    align-content: start;
}

.about__column-left {
    display: none;
}

@media (min-width: 800px) and (max-width: 1147px) {

    .about__container {
        height: 659px;
        margin-top: -350px;
        margin-left: 40px;


    }

    .about__column-title-image {
        top: -215px;
        left: 100px;
    }

    .about__column {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 50px;

    }
    .about__column-content {
        display: flex;
        flex-direction: column;

    }

    .about__feature--block1 {
        margin-bottom: 0;

    }

    .about__feature--block2 {
        margin-top: 40px;

    }

    .about__feature--block3 {
        margin-top: -10px;
    }

    .about__feature--block4 {
        padding-top: 10px;
    }


}

@media (min-width: 1148px) {
    .about {
        margin: 0 auto;
        height: 659px;
    }

    .about__container {
        height: 659px;
        margin-top: -350px;
        margin-left: 40px;


    }

    .about__column-left {
        display: block;
        top: -50px;
        width: 268px;
    }

    .about__columns {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .about__title {
        z-index: 2;
    }

    .about__column-title--with-image {
        margin-right: 105px;
    }

    .about__column-title-image {
        top: -220px;
        left: 80px;
    }


    .about__feature--block1 {
        margin-top: 0;
    }

    .about__feature--block2 {
        margin-top: 10px;
    }

    .about__feature--block3 {
        margin-top: -70px;
    }


    .about__column-1, .about__column-2 {
        display: flex;
        flex-direction: row;
        width: 800px;
        gap: 20px;
        align-items: center;
        margin-left: 150px;
    }

    .about__column-2 {
        margin-top: -120px
    }

    .about__column-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: -20px;
        margin-left: 200px;
        gap: 100px;
    }

}

@media (min-width: 1440px) {

    .about {
        width: 100%;
        height: 653px;
        background-color: #1B1B1B;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 105px;
    }


    .about__container {
        max-width: 1440px;
        width: 1440px;
        padding: 40px;
        background-color: #1B1B1B;
        margin-left: 0;


    }

    .about__title {
        box-sizing: border-box;
        width: 549px;
        height: 102px;
        padding: 0;
        font-size: 95px;
        align-content: start;
        margin-top: 0;
        margin-left: 30px;
        margin-bottom: 50px;
        color: #fff;
        font-weight: 700;
    }

    .about__columns {
        display: flex;
        align-items: start;
        gap: 0;

    }

    .about__column {
        width: 30%;
        text-align: left;
    }
    .about__column-content {
       margin-left: 85px;
    }

    .about__column-1 {
         gap: 50px;
    }

    .about__column-2 {
        margin-top: 50px;
    }

    .about__column-title {
        font-size: 24px;
        margin-left: 30px;
        margin-bottom: 20px;
        color: #fff;
        font-weight: 600;
    }

    .about__column-title--with-image {
        font-size: 36px;
        color: #fff;
        font-weight: bold;
        line-height: 1.2;
        position: absolute;
        width: 410px;
        height: 140px;
        z-index: 2;

    }

    .about__column-title-image {
        position: absolute;
        width: 355px;
        height: 45px;
        z-index: 1;
        left: 125px;
        top: -70px;

    }

    .about__column-text {
        font-size: 16px;
        line-height: 1.6;
        color: #fff;
    }

    .about__column-left {
        position: absolute;
        top: 100px;
        left: 0;
        width: 423px;
        height: 489px;
    }

    .about__feature {
        margin-bottom: 20px;
    }

    .about__feature-title {

        font-size: 48px;
        font-weight: 700;
        line-height: 51px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    .about__feature-text {

        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .about__feature--block1 {
        width: 321px;
        height: 268px;

    }

    .about__feature--block2 {
        width: 301px;
        height: 290px;

    }

    .about__feature--block3 {
        width: 306px;
        height: 319px;

    }

    .about__feature--block4 {
        width: 336px;
        height: 377px;

    }

    .about__column-1 {
        width: 800px;
        margin-left: 60px;
        gap: 70px;
    }

    .about__column-2 {
        margin-top: -20px;
        width: 800px;
        margin-left: 60px;
        gap: 90px;
    }
}
