/* Блок "Как работает Budss" */

.budss {
    margin-top: 1050px;
    background-color: #1B1B1B;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.budss__background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 50px 0;
    gap: 11px;
}

.budss__moving-text {
    width: 200%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 48px;
    font-weight: bold;
    line-height: 51px;
}

.budss__text-item {
    padding: 0 1rem;
    color: rgb(27, 27, 27);
    text-shadow: 1px 1px 0 dimgrey,
    -1px 1px 0 dimgrey,
    1px -1px 0 dimgrey,
    -1px -1px 0 dimgrey;
}

/* Цвет текста для разных классов */
.budss__text-item.budss__text-item--blue {

    color: #30D5C8;
}

.budss__animated-text-item--violet {
    color: #954CED;
}

.budss__animated-text-item--orange {
    color: #F8A24E;

}

/* Смещение для строк */

.budss__moving-text--top {
    justify-content: flex-end;
    animation: budss__move-text-right 40s linear infinite;
    margin-bottom: 80px;
}

.budss__moving-text--center {
    justify-content: flex-start;
    animation: budss__move-text-left 40s linear infinite;
    margin-left: -850px;
}

.budss__moving-text--bottom {
    justify-content: flex-end;
    animation: budss__move-text-right 40s linear infinite;
    margin-top: 80px;
    margin-left: 300px;
}

@keyframes budss__move-text-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes budss__move-text-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(50%);
    }
}

.budss__content {
    position: relative;
    z-index: 10;
}

.budss__phone {
    position: relative;
    z-index: 20;
}

.budss__phone-image {
    width: 100%;
    max-width: 228px;
    height: auto;
}

@media (min-width: 800px) and (max-width: 1147px){
    .budss {
        margin-top: 250px;
    }

    .about__column-left {
        bottom: 250px;
    }
}
@media (min-width: 1148px) and (max-width: 1361px){
    .budss {
        margin-top: 150px;
    }
    .about__column-left {
        display: none;
    }
}
@media (min-width: 1362px) and (max-width: 1439px){
    .budss {
        margin-top: 450px;
    }
    .about__column-left {
        display: none;
    }
}

@media (min-width: 1148px) {
    .budss {

        margin-top: 70px;
    }
}

@media (min-width: 1440px) {

    .main__budss.budss {

        height: 645px;
    }

    .budss {
        background-color: #1B1B1B;
        position: relative;
        width: 100%;
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-top: 500px;
    }

    .budss__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 636px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding: 10px 0;
        margin-top: 60px;

    }

    .budss__moving-text {
        width: 200%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 96px;
        font-weight: bold;
    }

    .budss__text-item {
        font-size: 128px;
        font-weight: 700;
        line-height: 135.68px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        padding: 0 1rem;
        color: rgb(27, 27, 27);
        text-shadow: 1px 1px 0 dimgrey,
        -1px 1px 0 dimgrey,
        1px -1px 0 dimgrey,
        -1px -1px 0 dimgrey;
    }


    .budss__text-item.budss__text-item--blue {
        color: #30D5C8;
    }

    .budss__animated-text-item--violet {
        color: #954CED;
    }

    .budss__animated-text-item--orange {
        color: #F8A24E;
        font-size: 130px;
    }

    /* Смещение для строк */
    .budss__moving-text--top {
        justify-content: flex-end;
        animation: budss__move-text-right 40s linear infinite;
        margin-top: 65px;
        margin-bottom: 45px;

    }

    .budss__moving-text--center {
        justify-content: flex-start;
        animation: budss__move-text-left 40s linear infinite;
        margin-left: -850px;
    }

    .budss__moving-text--bottom {
        justify-content: flex-end;
        animation: budss__move-text-right 40s linear infinite;
        margin-left: 300px;
        margin-top: 60px;
        margin-bottom: 130px;
    }

    @keyframes budss__move-text-left {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes budss__move-text-right {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(50%);
        }
    }

    .budss__content {
        position: relative;
        z-index: 10;
    }

    .budss__phone {
        position: relative;
        z-index: 20;
    }

    .budss__phone-image{
        width: 308px;
        max-width: 308px;
        height: 623px;
        position: absolute;
        top: -300px;
        left: -150px;
    }

}
