/*footer*/
.page__footer {
    background-color: #1B1B1B;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 650px;
}

.footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.footer__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

.footer__section--left {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    margin-bottom: 30px;

}


.footer__logo-container {
    margin-bottom: 20px;
}

.footer__logo {
    width: 124px;
    height: 39px;
    margin-left: -140px;

}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
    margin-top: 12px;
    margin-bottom: 10px;
}

.footer__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__link_variant {
    display: block;
}


.footer__markets {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin-top: 35px;
    margin-bottom: 30px;
}

.footer__markets img {
    width: 194px;
    height: auto;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer__legal {
    width: 330px;
    border-top: 2px solid rgb(68, 68, 68);
    display: flex;
    align-items: center;
    height: 50px;

}

.page-footer__legal-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.footer__policies {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__policy-link {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-decoration: none;
}

.footer__policy-link:hover {
    text-decoration: underline;
    color: #FFFFFF;
}
.page-footer__legal-link--hidden-mobile {
    display: none;
}

.footer__section .app__button {
    width: 182px;
    height: 57px;
}

nav {
    width: 307px;
    height: 189px;
}

.footer__links_mobile {
    margin-top: 155px;
    color: #fff;
}

@media (min-width: 1440px) {
    .page__footer {
        height: 188px;
    }
    .footer__content {
        width: 100%;
        height: 188px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-top: 10px;
    }

    .footer__top {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 1320px;
        height: 67px;
        margin-left: 150px;
        margin-bottom: 20px;

    }

    .footer__section {
        display: flex;
        height: 57px;
        flex-direction: row;
        align-items: flex-start;

    }

    .footer__section--left,
    .footer__section--right {
        display: flex;
        width: 600px;
        height: 57px;
        flex-direction: row;
        align-items: center;
        gap: 0;
        margin-right: -20px;
        justify-content: center;
    }

    .footer__section--right {
        gap: 35px;
        margin-top: 10px;
    }

    .footer__logo {
        width: 155px;
        height: 57px;
        margin-top: 45px;
        margin-right: 120px;
        margin-left: -260px;
    }

    .footer__links {
        height: 100%;
        display: flex;
        flex-direction: row;
        font-size: 16px;
        align-items: end;
        gap: 30px;
        margin-bottom: 25px;

    }

     .footer__link.footer__link_variant {
        display: none;
    }

     .footer__markets {
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
        margin-top: 25px;
    }
    .page-footer__legal-link--hidden-mobile {
        display: block;
    }
    .footer__legal {
        width: 1320px;
        border-top: 2px solid rgba(68, 68, 68, 1);
        height: 41px;
 +      text-align: center;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 50px;
        margin-left: 40px;
    }
    .page-footer__legal-text {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 10px;
        padding-top: 15px;
    }
    .page-footer__legal-link--hidden-mobile {
        text-decoration: underline;
        color: #B9B9B9;

    }
}
