.section {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: end;
    justify-content: space-between;
    box-sizing: border-box;
}

.section__menu {
    display: block;
}

.section--theme-black {
    background-color: #1B1B1B;
    margin-bottom: -135px;
}

.section__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.section__content {
    max-width: 50%;
    width: 671px;

    margin-left: 110px;
}

.section__title {
    font-size: 96px;
    color: #FFFFFF;
    margin-top: -50px;
    font-weight: 700;
    line-height: 102px;
}

.section__description {
    width: 537px;
    height: 48px;
    font-size: 20px;
    margin-bottom: 30px;
    color: #FFFFFF;
    line-height: 24px;
}

.section__image-wrapper {
    max-width: 50%;
}

.section__image {
    width: 100%;
    height: auto;
    margin-bottom: -8px;

}

.section__button {
    width: 182px;
    height: 57px;
    background-color: #954CED;
    color: #FFFFFF;
    border: none;
    padding: 16px 30px 16px 30px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    font-family: Outfit, sans-serif;

}

.main__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.main__section .section__button {
    width: 343px;
    max-width: 343px;
    padding: 15px 20px;
    font-size: 20px;
    background-color: #954ced;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.section__container {
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    margin-left: -180px;
    padding: 0 7px;

}

.section__content {
    margin-bottom: 20px;
    margin-left: 0;
}

.section__title {
    width: 343px;
    height: 74px;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    margin: 20px 0;
    padding: 0;

}

.section__description {
    width: 343px;
    font-size: 16px;
    color: #ccc;
    margin-bottom: 60px;

}

.section__button {
    width: 343px;
}

.section__image-wrapper {
    display: block;

}

.section__image {
    display: none;
}

.section__image-mobile {
    display: block;
    width: 300px;
    position: absolute;
    right: 0;
    margin-top: 105px;


}
