/*Окно благодарности*/

.thank-you-modal {
    display: none;
    width: 335px;
    height: 477px;
    border-radius: 20px;
    text-align: center;
    padding: 0;
    background: #FFFFFF;
    position: absolute;
    top: 172px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}


.thank-you-modal img {
    margin-right: 0;

}

.thank-you__close {
    width: 26px;
    height: 26px;
    font-size: 24px;
    margin-left: 295px;
    color: #B9B9B9;
    gap: 8px;
    border-radius: 35px;
    display: flex;
    justify-content: right;
    cursor: pointer;
    margin-top: 15px;
}


.thank-you-content h2 {
    color: #A64CED;
    margin: 20px auto;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
}

.thank-you-content p {
    width: 295px;
    height: 72px;
    color: #444444;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;

}

.thank-you-button {
    width: 255px;
    height: 57px;
    background: #954CED;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    margin: 20px auto;
    cursor: pointer;
    padding: 16px 30px;
    gap: 14px;
    border-radius: 16px;

}

.thank-you-button:hover {
    background-color: #7229b4;
}
.thank-you-content_img {
    height: 179px;
    width: 229px;
}
